{% extends "base.html" %}

{% block head %}
<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}"/>
{% endblock %}

{% block script %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}
<div id="map"></div>
<div class="m-2" id="control">
<div class="dropdown" id="menu_layer">
  <button class="btn btn-secondary btn-sm dropdown-toggle mb-3" type="button" id="menubutton_layer"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layer</button>
  <div class="dropdown-menu" aria-labelledby="menubutton_layer">
    <a class="dropdown-item" href="#" id="none">None</a>
    <a class="dropdown-item" href="#" id="aak_map_fill">Geology Category</a>
    <a class="dropdown-item disabled" href="#" id="gvs30_map_fill">Geology Vs30</a>
    <a class="dropdown-item disabled" href="#" id="gstdv_map_fill">Geology Standard Deviation</a>
    <a class="dropdown-item active" href="#" id="ip_map_fill">Terrain Category</a>
    <a class="dropdown-item disabled" href="#" id="tvs30_map_fill">Terrain Vs30</a>
    <a class="dropdown-item disabled" href="#" id="tstdv_map_fill">Terrain Standard Deviation</a>
    <a class="dropdown-item disabled" href="#" id="cvs30_map_fill">Combined Vs30</a>
    <a class="dropdown-item disabled" href="#" id="cstdv_map_fill">Combined Standard Deviation</a>
  </div>
</div>
<div class="input-group input-group-sm my-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="lbl_lon">Longitude</span>
  </div>
  <input type="text" id="lon" class="form-control" aria-label="Longitude" aria-describedby="lbl_lon">
</div>
<div class="input-group input-group-sm my-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="lbl_lat">Latitude</span>
  </div>
  <input type="text" id="lat" class="form-control" aria-label="Latitude" aria-describedby="lbl_lat">
</div>
<div class="d-flex justify-content-center my-2 bg-light rounded">
  <div class="form-check" id="chk_mouse">
    <input class="form-check-input" type="checkbox" onclick="follow_mouse(this);" id="follow_mouse" checked>
    <label class="form-check-label" for="follow_mouse">follows mouse</label>
  </div>
</div>
<div class="input-group input-group-sm mt-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="geocat">Geology</span>
  </div>
  <input type="text" id="gid_aak" readonly class="form-control" placeholder="NA" aria-label="Geology Category" aria-describedby="geocat">
</div>
<div class="input-group input-group-sm my-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="tercat">Terrain</span>
  </div>
  <input type="text" id="gid_yca" readonly class="form-control" placeholder="NA" aria-label="Terrain Category" aria-describedby="tercat">
</div>

</div>

{% endblock %}
