{% extends "base.html" %}

{% block head %}
<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}"/>
{% endblock %}

{% block script %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}
<div id="map"></div>
<div class="m-2" id="control">
<div class="d-flex">
  <div class="dropdown d-inline" id="menu_layer" style="width: 5rem;">
    <button class="btn btn-secondary btn-sm dropdown-toggle mb-1" type="button" id="menubutton_layer"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layer</button>
    <div class="dropdown-menu" aria-labelledby="menubutton_layer">
      <a class="dropdown-item" href="#" id="none">None</a>
      <a class="dropdown-item" href="#" id="aak_map_fill">Geology Category</a>
      <a class="dropdown-item" href="#" id="gvs30_map_fill">Geology Vs30</a>
      <a class="dropdown-item" href="#" id="ip_map_fill">Terrain Category</a>
      <a class="dropdown-item" href="#" id="tvs30_map_fill">Terrain Vs30</a>
      <a class="dropdown-item active" href="#" id="cvs30_map_fill">Combined Vs30</a>
    </div>
  </div>
  <div class="d-inline slide-width pl-0 pt-2">
    <input type="range" id="transparency" onchange="update_transparency();" oninput="update_transparency();" class="form-control-range" min=0 max=1 step=0.01 value=0.8>
  </div>
</div>
<div class="collapse show" id="collapse">
  <div class="d-flex">
    <div class="d-inline my-1">
      <span class="fix-lbl fix-bg rounded justify-content-center py-1 px-2 mr-3">Extrusion</span>
    </div>
    <div class="d-inline pl-0 pt-2 slide-width">
      <input type="range" id="extrusion" onchange="update_extrusion();" oninput="update_extrusion();" class="form-control-range" min=0 max=2 step=0.01 value=0.5>
    </div>
  </div>
</div>
<div class="input-group input-group-sm my-1 mt-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="lbl_lon">Longitude</span>
  </div>
  <input type="text" id="lon" onkeydown="map_lnglatselect(this);" class="form-control" aria-label="Longitude" aria-describedby="lbl_lon">
</div>
<div class="input-group input-group-sm my-1">
  <div class="input-group-prepend">
    <span class="input-group-text" id="lbl_lat">Latitude</span>
  </div>
  <input type="text" id="lat" onkeydown="map_lnglatselect(this);" class="form-control" aria-label="Latitude" aria-describedby="lbl_lat">
</div>
<div class="d-flex justify-content-center my-1 bg-light rounded">
  <div class="form-check" id="chk_mouse">
    <input class="form-check-input" type="checkbox" onclick="follow_mouse(this);" id="follow_mouse">
    <label class="fix-lbl form-check-label" for="follow_mouse">follows mouse</label>
  </div>
</div>
<div class="input-group input-group-sm mt-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="geocat">Geology</span>
  </div>
  <input type="text" id="gid_aak" readonly class="form-control" placeholder="NA" aria-label="Geology Category" aria-describedby="geocat">
</div>
<div class="input-group input-group-sm my-1">
  <div class="input-group-prepend">
    <span class="input-group-text" id="lbl_aak_vs30">Vs30</span>
  </div>
  <input type="text" id="aak_vs30" readonly class="form-control fix-bg" placeholder="NA" aria-label="Vs30 (m/s)" aria-describedby="lbl_aak_vs30">
  <input type="text" id="aak_stdv" readonly class="form-control fix-bg" placeholder="NA" aria-label="Standard Deviation" aria-describedby="lbl_aak_stdv">
  <div class="input-group-append">
    <span class="input-group-text" id="lbl_aak_stdv">stdev</span>
  </div>
</div>
<div class="input-group input-group-sm mt-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="tercat">Terrain</span>
  </div>
  <input type="text" id="gid_yca" readonly class="form-control" placeholder="NA" aria-label="Terrain Category" aria-describedby="tercat">
</div>
<div class="input-group input-group-sm my-1">
  <div class="input-group-prepend">
    <span class="input-group-text" id="lbl_yca_vs30">Vs30</span>
  </div>
  <input type="text" id="yca_vs30" readonly class="form-control fix-bg" placeholder="NA" aria-label="Vs30 (m/s)" aria-describedby="lbl_yca_vs30">
  <input type="text" id="yca_stdv" readonly class="form-control fix-bg" placeholder="NA" aria-label="Standard Deviation" aria-describedby="lbl_yca_stdv">
  <div class="input-group-append">
    <span class="input-group-text" id="lbl_yca_stdv">stdev</span>
  </div>
</div>
<label class="fix-lbl fix-bg rounded d-flex justify-content-center mt-2 mb-1" for="com_vs30">Combined Geology / Terrain</label>
<div class="input-group input-group-sm my-1">
  <div class="input-group-prepend">
    <span class="input-group-text" id="lbl_com_vs30">Vs30</span>
  </div>
  <input type="text" id="com_vs30" readonly class="form-control" placeholder="NA" aria-label="Vs30 (m/s)" aria-describedby="lbl_com_vs30">
  <input type="text" id="com_stdv" readonly class="form-control" placeholder="NA" aria-label="Standard Deviation" aria-describedby="lbl_com_stdv">
  <div class="input-group-append">
    <span class="input-group-text" id="lbl_com_stdv">stdev</span>
  </div>
</div>

</div>

{% endblock %}
