body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#control {
    position: absolute;
    width: 16rem;
}

/* fix some bug */
#yca_vs30,#yca_stdv,#aak_vs30,#aak_stdv {
    background: #e9ecef;
}

.fix-lbl {
    font-size: .875rem;
    color: #495057;
}

.fix-bg {
    background: #e9ecef;
}
