.process-cpt {
    margin-left: 37.5%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-left: 26.5vw;
}

.hr {
    border-top: 1px solid silver;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
}

.form-section {
    width: 15vw;
}

.form {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.form-label {
    font-size: calc(12px + 0.2vw);
    font-weight: 500;
    margin-top: 0.5vh;
}

.form-file-input {
    margin-top: 1vh !important;
    margin-bottom: 5px;
    margin-left: 8%;
    padding-right: 0 !important;
    width: 11vw !important;
}

.form-section-title {
    font-size: calc(12px + 0.4vw);
    font-weight: 700;
}

.file-section {
    height: 20vh;
    width: 15vw;
}

.file-table-section {
    height: 18vh;
    width: 15vw;
}

.file-info {
    width: 1vw !important;
    padding: 0 !important;
    margin-top: 1.3vh !important;
}

.select-cpt {
    min-width: 20vw;
    padding-bottom: 0.5vw;
}

.center-elm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outline {
    border: 1px solid silver;
}

.cpt-data {
    padding-bottom: 15px;
    padding-left: 1%;
    margin-right: -5%;
    height: 40vw;
}

.cpt-table {
    height: 35.5vw;
    width: 100%;
}

.cpt-plot {
    padding-left: 0.5vw;
    height: 35.5vw;
}

.cor-section {
    height: 36vw;
    margin-bottom: 1vw;
}

.select-cor {
    min-width: 20vw;
    margin-bottom: 1vw;
}

.vs-preview-section {
    margin-right: 17vw;
    padding-bottom: 1vh;
    height: 40vw;
}

.vs-preview-plot {
    height: 75vh;
    width: 36vw;
    margin-bottom: 1vh;
}

.weights {
    margin-top: 3vh !important;
    padding-top: 2vh;
    padding-bottom: 1vw;
    height: 67vh;
    margin-left: 18vw;
}

.cpt-weights {
    margin-bottom: 1vw;
    height: 13vw;
}

.cor-weights {
    height: 13vw;
}

.preview-btn {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.select-box {
    width: 20vw;
}