.process-cpt {
    margin-left: 37.5%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.hr {
    border-top: 1px solid silver;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}

.form {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-file-input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15%;
}

.form-section-title {
    font-size: calc(12px + 0.4vw);
    font-weight: 700;
}

.select-cpt {
    width: 50%;
    padding-bottom: 0.5vw;
}

.center-elm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outline {
    border: 1px solid silver;
}

.cpt-data {
    padding-bottom: 15px;
    padding-left: 1%;
    margin-right: -5%;
    height: 40vw;
}

.cpt-table {
    height: 35.5vw;
    width: 100%;
}

.cpt-plot {
    padding-left: 0.5vw;
    height: 35.5vw;
}

.cor-section {
    height: 36vw;
    margin-bottom: 1vw;
}

.select-cor {
    width: 35%;
    margin-bottom: 1vw;
}

.vs-preview-section {
    margin-right: 17vw;
    padding-bottom: 1vw;
    height: 37vw;
}

.vs-preview-plot {
    height: 37vw;
    width: 36vw;
}

.weights {
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-left: 18vw;
    height: 36vw;
}

.cpt-weights {
    margin-bottom: 1vw;
    height: 13vw;
}

.cor-weights {
    height: 13vw;
}

.preview-btn {
    margin-top: 1vw;
    margin-bottom: 1vw;
}