.scroll-tbl {
    max-height: 50vh;
}

.main-row-width {
    width: 30vw !important;
}

.col-size {
    font-size: calc(0.55vh + 0.55vw);
    width: 7vw;
    height: 2vh;
    text-align: center;
    padding: 0.6vh !important;
}

.col-size-end {
    font-size: calc(0.55vh + 0.55vw);
    width: 7vw;
    height: 2vh;
    text-align: center;
    padding: 0.6vh !important;
}

.cpt-raw {
    margin-bottom: 0.1vw !important;
}

.tbl-width {
    width: 28vw;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    padding: 0 !important;
}

.bold {
    font-weight: bold;
    font-size: calc(0.55vh + 0.55vw);
}

.highlight {
    background-color: rgba(255, 0, 0, 0.2) !important;
    border: 0.2vw solid rgba(255, 0, 0, 0.719) !important;
}

.info {
    margin-top: 0 !important; 
    height: 5vw;
}