.upload-section {
    margin-top: 1.5vw !important;
    margin-left: -3vw;
    height: 76vh;
}

.add-spt {
    margin-top: 0.5vh;
    height: 47vh;
    width: 18vw !important;
}

.spt-form-section {
    margin-top: 1vh;
}

.spt-file-input {
    margin-top: 0.5vh !important;
    margin-left: -0.3vw;
    min-height: 30px;
    margin-bottom: 0.2vh;
    padding-right: 0 !important;
    width: 11vw !important;
}

.add-spt-section {
    margin-left: -0.25vw !important;
    width: 9.5vw !important;
    height: 7vh !important;
    margin-top: 0.5vh !important;
    margin-bottom: 1vh !important;
}

.file-section {
    margin-top: 2vh;
    width: 100%;
    min-height: 18vh;
}

.file-table-section {
    min-height: 18vh;
    width: 15vw;
}

.form-label {
    font-size: calc(12px + 0.2vw);
    font-weight: 500;
    margin-top: 0.5vh;
}

.text-input {
    margin-top: -0.3vw;
    width: 10vw;
    text-align:center
}

.spt-select {
    width: 15vw;
}

.add-spt-btn {
    margin-top: 1vh !important;
    margin-left: 1.25vw !important;
    width: 6vw !important;
}

.spt-table-section {
    margin-top: 0.5vw !important;
    margin-right: 3.5vw;
    height: 78vh;
}

.spt-table {
    margin-top: 1vw;
    height: 78vh;
    width: 30vw;
}

.spt-plot-section {
    margin-top: 0.5vw !important;
    margin-right: 0.2vw;
    height: 78vh;
}

.spt-plot {
    margin-top: 1vw;
    height: 70vh;
    width: 39vw;
}

.select-box {
    min-width: 20vw;
}

.spt-plot-title {
    font-size: calc(12px + 0.4vw);
    font-weight: 700;
}

.spt-table-title {
    font-size: calc(12px + 0.4vw);
    font-weight: 700;
}

.center-elm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spt-top {
    height: 78vh;
}

.spt-bot {
    height: 40vh;
    margin-top: 1vw;
}

.vs-preview-section-spt {
    margin-right: 17vw;
    margin-bottom: 1vh;
    height: 75vh;
}

.vs-preview-plot-spt {
    height: 70vh;
    width: 36vw;
    margin-bottom: 1vh;
}

.weights-spt {
    margin-left: 18vw;
    margin-top: 3vh !important;
    padding-top: 2vh;
    margin-bottom: 1vh;
    height: 70vh;
}

.spt-weights {
    margin-bottom: 1vw;
    height: 13vw;
    width: 20vw;
}

.cor-weights-spt {
    height: 13vw;
    width: 20vw;
}