.spt-plots {
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    margin-right: 2vw !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single-spt-plot {
    height: 33vw;
}