.vs-profile-preview-plot {
    height: 99%;
    width: 34vw;
    margin: 1vw;
    margin-top: 0;
}

.hide-sd {
    margin-top: 0.2vh;
    margin-bottom: 0.3vh;
}

.hide-sd-check {
    margin-left: 1vh;
}
