.add-vs {
    height: 23vh !important;
    width: 17vw !important;
}

.vs-file-input-section {
    width: 16vw !important;
    height: 4.5vh !important;
    margin-bottom: 5px;
    margin-left: 3% !important;
    margin-top: 0.5vh !important;
    margin-bottom: 0.5vh !important;
    padding-right: 0 !important;
}

.vs-file-input {
    align-items: right !important;
    font-size: calc(0.55vh + 0.55vw);
    margin-top: 0.5vh !important;
    margin-left: 2vw !important;
    padding-right: 0 !important;
    width: 11vw !important;
}

.vs-left-panel {
    margin-left: 3.25vw;
    height: 89vh;
    width: 17vw !important;
    padding: 0 !important;
}

.vs-file-section {
    margin-top: 2vh;
    width: 100%;
    min-height: 18vh;
}

.form-label {
    font-size: calc(0.55vh + 0.55vw);
    font-weight: 500;
    margin-top: 1vw;
}

.vs-upload-title {
    margin-top: 3vh !important;
    font-size: calc(0.7vh + 0.7vw);
    font-weight: 700;
    width: 12vw;
}

.text-input {
    font-size: calc(0.55vh + 0.55vw);
    margin-top: -0.3vw;
    width: 10vw;
    text-align:center;
}

.stretch {
    width: 100%;
}

.spt-select {
    width: 15vw;
}

.add-vs-btn-section {
    margin-left: 3.25vw !important;
    width: 12vw !important;
    height: 5vh !important;
    margin-top: 1vh !important;
}

.add-vs-btn {
    font-size: calc(0.6vh + 0.6vw) !important;
    margin-left: 1vw !important;
    margin-top: 0.5vh !important;
    width: 8vw !important;
    height: 4.5vh !important;
}

.vs-table-section {
    margin-left: 3.25vw;
    width: 30vw !important;
    margin-top: 0.5vw !important;
    height: 88vh;
}

.vs-table-title {
    font-size: calc(0.7vh + 0.7vw);
    font-weight: 700;
}

.vs-table {
    margin-top: 1.5vh;
    height: 78vh;
    width: 30vw;
}

.vs-plot-section {
    margin-left: 3.25vw;
    width: 40vw !important;
    margin-top: 1vh !important;
    margin-right: 0.2vw;
    height: 88vh;
}

.vs-plot {
    margin-top: 1.5vh;
    height: 78vh !important;
    width: 39vw;
}

.vs-plot-title {
    font-size: calc(0.7vh + 0.7vw);
    font-weight: 700;
}

.center-elm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vs-top {
    height: 89vh;
    width: 100vw;
}

.vs-weights {
    margin-bottom: 1vh;
    height: 32vh;
    width: 17vw;
}

.vs-weight-area {
    height: 24vh;
}

.vs-weight-title {
    font-size: calc(0.7vh + 0.7vw);
    font-weight: 700;
    width: 22vw;
    margin-top: 2vh;
}

.set-weights {
    font-size: calc(0.6vh + 0.6vw) !important;
    width: 8vw !important;
    margin-left: 1.5vw !important;
    margin-top: 0.5vh !important;
    height: 4.5vh !important;
}

.set-weights-section {
    margin-top: 1vh !important;
    height: 6vh;
}

.vs-checkbox {
    margin-top: 0.2vh !important;
    height: 1.75vh;
    width: 1.75vw;
}

.layered-section {
    margin-left: 1.5vw !important;
    height: 2vh;
    margin-top: 1vh !important;
    width: 12vw;
}

.layered-title {
    text-align: right;
    font-size: calc(0.55vh + 0.55vw);
    font-weight: 500;
    padding: 0 !important;
    margin-left: 0.25vw;
    margin-right: 1vw;
    height: 2vh;
    width: 10vw !important;
}