.add-vs {
    margin-top: 1.5vw !important;
    height: 23vh !important;
    width: 18vw !important;
}

.vs-file-input {
    margin-top: 1vh !important;
    margin-left: 3.5vw !important;
    padding-right: 0 !important;
    width: 11vw !important;
}

.vs-left-panel {
    height: 89vh;
}

.vs-file-section {
    margin-top: 2vh;
    width: 100%;
    min-height: 18vh;
}

.form-label {
    font-size: calc(12px + 0.2vw);
    font-weight: 500;
    margin-top: 1vw;
}

.text-input {
    margin-top: -0.3vw;
    width: 10vw;
    text-align:center;
}

.stretch {
    width: 100%;
}

.spt-select {
    width: 15vw;
}

.add-vs-btn {
    margin-top: 1.5vh;
}

.vs-table-section {
    margin-top: 0.5vw !important;
    height: 88vh;
}

.vs-table-title {
    font-size: calc(12px + 0.4vw);
    font-weight: 700;
}

.vs-table {
    margin-top: 1vw;
    height: 78vh;
    width: 30vw;
}

.vs-plot-section {
    margin-top: 0.5vw !important;
    margin-right: 0.2vw;
    height: 88vh;
}

.vs-plot {
    margin-top: 1vw;
    height: 82vh;
    width: 39vw;
}

.vs-select {
    min-width: 20vw;
}

.select-box {
    width: 20vw;
}

.vs-plot-title {
    font-size: calc(12px + 0.4vw);
    font-weight: 700;
}

.center-elm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vs-top {
    height: 89vh;
}

.vs-weights {
    margin-bottom: 1vw;
    height: 16vw;
    width: 22vw;
}

.vs-weight-area {
    height: 12vw;
}

.vs-weight-title {
    font-size: calc(12px + 0.4vw);
    font-weight: 700;
    width: 22vw;
    margin-top: 1vw;
}

.set-weights {
    width: 6vw !important;
    top: 15% !important;
    margin-left: 1.5vw !important;
}

.set-weights-section {
    margin-top: 1vh !important;
    height: 6vh;
}

.vs-checkbox {
    margin-top: 0.15vh !important;
    height: 1.75vh;
    width: 1.75vw;
}

.layered-section {
    margin-left: 1.5vw !important;
    height: 2vh;
    margin-top: 1.5vh !important;
    width: 12vw;
}

.layered-title {
    font-size: calc(12px + 0.2vw);
    font-weight: 500;
    padding: 0;
    margin-left: 2vw;
    height: 2vh;
    width: 10vw;
}