.bold {
    font-weight: bold;
}

.col-size {
    width: 7vw;
    text-align:center
}

.form-section-title {
    font-size: calc(12px + 0.4vw);
    font-weight: 700;
}

.scroll-weights {
    max-height: 12.7vw;
    overflow: scroll;
}

.weight-table {
    margin-bottom: 0 !important;
}

.table-padding {
    padding-top: 0.3vw;
    padding-bottom: 0.2vw;
}

::-webkit-scrollbar {
    display: none;
}

.weight-error {
    position: relative;
    top: 25% !important;
    width: 1vw !important;
    height: 2vh !important;
}

.custom-border-size {
    transition: border 2s;
    border: 2px solid #dee2e6 !important;
}

.flash-warning {
    transition: border 1s;
    border: 2px solid #ff0000b7 !important;
}